

<div class="container-fluid bg-dark py-4 " >
    <h1><a href="/addbook" class="link-underline link-underline-opacity-0"> Add Book </a> </h1> <br>
    <h1><a href="/viewbook" class="link-underline link-underline-opacity-0"> View Book </a> </h1><br>
    <h1><a href="/viewcontact" class="link-underline link-underline-opacity-0"> View Contact </a> </h1><br>
    <h1><a href="/viewsignup" class="link-underline link-underline-opacity-0"> View Signup </a> </h1><br>

</div>